body {
    font-size: 15pt;
    font-family: sans-serif;
    background-color: #ffffff;
}

h1 {
    text-align: left;
    color: #000;
}

h1 span {
    color: rgb(14, 224, 60)
}

h2 {
    background-color: #156ef4;
    border-radius: 8px;
    width: 14%;
    color:black;
    font-size: 30px;
}

.p1 {
    color: white;
}

h3 {
    background-color: #156ef4;
    border-radius: 8px;
    width: 14%;
    color: black;
    font-size: 30px;
}

h4 {
    background-color: #156ef4;
    border-radius: 8px;
    width: 14%;
    color: #000;
    font-size: 30px;
}