body {
    background-color: #000;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
  background-image: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h {
  font-size: 40pt;
  color: yellow;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 100%;
}

.btn {
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  border: 5px solid #566CFF;
  color: white;
  padding: 12px 25px;
  border-radius: 15px;
  right: 10px;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

h2:a {
  color: white;
}
